.cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 30px;
    align-items: stretch;

}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: $white;
    padding: 50px 30px;
    border: 1px solid;
    border-color: $grey;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;

    img {
      width: 160px;
      align-self: center;
    }
}


.nomeescola {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: .9rem;
  line-height: 1rem;
  color: $light-grey;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.data {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: .9rem;
  color: $light-grey;
  text-align: center;
  display: block;
  margin: 0px 0px 10px 0px;
}

.descricao {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: $grey;
}

@media screen and (max-width: 1400px) {
  .cards {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  
}