$white: #FFF;
$light-grey: rgb(150, 150, 150);
$grey: #4A4A4A;
$gold: #A39B66;
$light-gold: rgb(240, 233, 190);
$orange: #FFB384;
$light-orange: #FFC98B;
$green: rgb(187, 226, 88);
$dark-green: rgb(182, 226, 72);
$light-green: #C2E865;
$light-light-green: #DFEBA0;
$pink: #E79796;