.gallery-section {
  width: 100vw;
}

.div-h2 {
  width: 100%;
  margin: 40px 0;

  h2 {
    line-height: 2.5rem;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    color: $gold;
    text-align: center;
  }
}

.wrapper {
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-items: stretch;
  justify-content: flex-start;
  // align-content: stretch;
  overflow: hidden;
}

$size: calc(100vw / 4);

.portfolio-item {
  width: $size;
  height: $size;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
    position: absolute;
    top: -30%;
    left: -30%;
    transition: all ease-in-out 0.9s;
  }


  img:hover {
    opacity: 0.5;
    transform: scale(1.1);
  }
}

.florenscer {
  background-image: url("../../img/trabalhos/appflo.png");
  background-size: cover;
  height: 250px;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 80px;

  img {
    object-fit: cover;
    width: 100vw;
    height: 300px;
  }

  button {
    display: flex;
    align-items: center;
    background-color: #736696;
    padding: 20px 20px;
    height: 35px;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
  
    &:hover {
    background-color: #8678ad;
  }
  
    a {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #eae3ff;
    }
  }
}

.arrow {
  margin-left: 6px;
  border: solid $orange;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.flo-img {
  width: 200px;
  height: 100px;
  background-image: url(../../img/logos/flo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 50px;
}





@media (min-width: 740px) and (max-width: 980px) {
  .gallery-section {
    width: 100%;
  }

  .div-h2 {
    width: 60%;
    margin: 0 auto;

    h2 {
      margin-top: 20px;
      line-height: 2rem;
      font-size: 1.4rem;
    }
  }

  .wrapper {
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    align-content: stretch;
    overflow: hidden;
  }

  $size: calc(100vw / 2);

  .portfolio-item {
    position: relative;
    img {
      width: $size;
      height: $size;
      transform: scale(1.1);
    }
  }
  
}







@media (max-width: 739px) {
  .gallery-section {
    width: 100%;
  }

  .div-h2 {
    width: 80%;
    margin: 0 auto;

    h2 {
      margin-top: 20px;
      line-height: 2rem;
      font-size: 1.4rem;
    }
  }

  .wrapper {
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    align-content: stretch;
    overflow: hidden;
  }

  $size: calc(100vw / 2);

  .portfolio-item {
    position: relative;
    img {
      width: $size;
      height: $size;
      transform: scale(1.1);
    }
  }
}

.florenscer {
  background-image: url("../../img/trabalhos/appflo.png");
  background-size: cover;
  height: 320px;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 80px;

  img {
    object-fit: cover;
    width: 100vw;
    height: 300px;
  }

  button {
    display: flex;
    align-items: center;
    background-color: #736696;
    padding: 25px 20px;
    height: 35px;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
  
    &:hover {
    background-color: #8678ad;
  }
  
    a {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #eae3ff;
    }
  }
}

.arrow {
  margin-left: 6px;
  border: solid $orange;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.flo-img {
  width: 200px;
  height: 100px;
  background-image: url(../../img/logos/flo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 50px;
}

