nav {
    height: 180px;
    display: grid;
    grid-template-columns: 0.5fr 4fr 1fr 1fr 1fr 0.2fr;
    align-items: center;
    justify-self: center;

    ul {
        white-space: nowrap;
        max-width: 1200px;
    }

    .nav-item0 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .nav-item1 {
        grid-column-start: 3;
        grid-column-end: 4;


    }
    
    .nav-item2 {
        grid-column-start: 4;
        grid-column-end: 5;
    }
    
    .nav-item3 {
        grid-column-start: 5;
        grid-column-end: 6;
    }
}

@media screen and (max-width: 1400px) {
    nav {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 90%;
    
        ul {

        }
    
        .nav-item0 {
            img {
                // width: auto;
                margin: 0;
                width: 70px;
                
            }
        }
    
        .nav-item1 {    
            a {
                font-size: 1rem;
                letter-spacing: -.9px;
            }
        }
        
        .nav-item2 {
            a {
                font-size: 1rem;
                letter-spacing: -.9px;
            }
        }
        
        .nav-item3 {
            a {
                font-size: 1rem;
                letter-spacing: -.9px;
            }
        }
    }

    
}