.rodape {
    background-color: #C2E865;
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rodape-container {
    padding: 80px 150px 0px;
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
}

.rodape-texto {
    position: relative;
}

.coluna-esq {
    display: flex;
    flex-direction: column;
    // align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.texto-gg {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -3px;
    font-size: 4rem;
    color: $grey;
    text-align: right;
}

.texto-gg-ultima {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -3px;
    font-size: 4rem;
    color: $grey;
    text-align: right;
    margin-bottom: 20px;
}

.linha-rodape {
    border-top: 1px solid $grey;
    width: 32px;
    float: right;
    margin: 20px 0px 20px 0px;
}

.texto-menor {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .85rem;
    line-height: 1rem;
    text-align: right;
    color: $grey;
}

.icones-redes {
    margin-top: 10px;
    display: flex;
    width: 50px;
    justify-content: flex-end;
    text-align: right;
    float: right;
    position: relative;
    margin-bottom: 30px;

    i, a {
        font-size: 1.1rem;
        margin-left: 10px;
        color: $grey;
    }
}

.rodape-form {
    margin-left: 40px;
}

.campo-nome input{
    width: 500px;
    height: 30px;
    font-size: 20px;    
    background: $light-light-green;
    font-size: 1rem;
    padding: 5px;
    border: 0px;
    margin-bottom: 10px;
    
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .8rem;
    color: $grey;
    text-align: left;
    text-transform: uppercase;
}

.campo-email input{
    width: 500px;
    height: 30px;
    font-size: 20px;  
    background: $light-light-green;
    font-size: 1rem;
    padding: 5px;
    border: 0px;
    margin-bottom: 10px;

    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .8rem;
    color: $grey;
    text-align: left;
    text-transform: uppercase;
}

.campo-mensagem {
    position: relative;
}

.campo-mensagem textarea {
    width: 500px;
    height: 300px;
    font-size: 20px;  
    background: $light-light-green;
    font-size: 1rem;
    padding: 5px;
    border: 0px;
    margin-bottom: 10px;
    
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .8rem;
    color: $grey;
    text-align: left;
    text-transform: uppercase;
    align-self: flex-start;
    resize: none;
}

.campo-mensagem textarea::placeholder {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .8rem;
    color: $grey;
    text-align: left;
    text-transform: uppercase;
}


.button input{
    opacity: 80%;
    padding: 5px 15px;
    font-size: .8rem;
    width: max-content;
    height: 30px;
    cursor: pointer;
    border: 0px;
    background-color: $green;
    color: $grey;
}

.button {
    text-align: right;
}

.rodape-direitos-reserv {
    margin: 20px 0 25px 0;
    height: max-content;
    align-self: flex-end;

    p {
        font-family: "Barlow", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: .8rem;
        color: $light-grey;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 6px;
    }
}








@media (min-width: 740px) and (max-width: 980px) {
    .rodape {
        background-color: #C2E865;
        height: max-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .rodape-container {
        padding: 80px 150px 0px;
        margin: 0 auto;
        display: flex;
        align-content: flex-start;
    }
    
    .rodape-texto {
        position: relative;
    }
    
    .coluna-esq {
        display: flex;
        flex-direction: column;
        // align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .texto-gg {
        font-family: "Barlow", Arial, Helvetica, sans-serif;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: -3px;
        font-size: 3rem;
        color: $grey;
        text-align: right;
    }
    
    .texto-gg-ultima {
        font-family: "Barlow", Arial, Helvetica, sans-serif;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: -3px;
        font-size: 3rem;
        color: $grey;
        text-align: right;
        margin-bottom: 20px;
    }
    
    .linha-rodape {
        border-top: 1px solid $grey;
        width: 32px;
        float: right;
        margin: 20px 0px 20px 0px;
    }
    
    .texto-menor {
        font-family: "Barlow", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: .85rem;
        line-height: 1rem;
        text-align: right;
        color: $grey;
    }
    
    .icones-redes {
        margin-top: 10px;
        display: flex;
        width: 50px;
        justify-content: flex-end;
        text-align: right;
        float: right;
        position: relative;
        margin-bottom: 30px;
    
        i, a {
            font-size: 1.1rem;
            margin-left: 10px;
            color: $grey;
        }
    }
    
    .rodape-form {
        margin-left: 40px;
    }
    
    .campo-nome input{
        width: 500px;
        height: 30px;
        font-size: 20px;    
        background: $light-light-green;
        font-size: 1rem;
        padding: 5px;
        border: 0px;
        margin-bottom: 10px;
        
        font-family: "Barlow", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: .8rem;
        color: $grey;
        text-align: left;
        text-transform: uppercase;
    }
    
    .campo-email input{
        width: 500px;
        height: 30px;
        font-size: 20px;  
        background: $light-light-green;
        font-size: 1rem;
        padding: 5px;
        border: 0px;
        margin-bottom: 10px;
    
        font-family: "Barlow", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: .8rem;
        color: $grey;
        text-align: left;
        text-transform: uppercase;
    }
    
    .campo-mensagem {
        position: relative;
    }
    
    .campo-mensagem textarea {
        width: 500px;
        height: 300px;
        font-size: 20px;  
        background: $light-light-green;
        font-size: 1rem;
        padding: 5px;
        border: 0px;
        margin-bottom: 10px;
        
        font-family: "Barlow", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: .8rem;
        color: $grey;
        text-align: left;
        text-transform: uppercase;
        align-self: flex-start;
        resize: none;
    }
    
    .campo-mensagem textarea::placeholder {
        font-family: "Barlow", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: .8rem;
        color: $grey;
        text-align: left;
        text-transform: uppercase;
    }
    
    
    .button input{
        opacity: 80%;
        padding: 5px 15px;
        font-size: .8rem;
        width: max-content;
        height: 30px;
        cursor: pointer;
        border: 0px;
        background-color: $green;
        color: $grey;
    }
    
    .button {
        text-align: right;
    }
    
    .rodape-direitos-reserv {
        margin: 20px 0 25px 0;
        height: max-content;
        align-self: flex-end;
        width: 50%;
    
        p {
            font-family: "Barlow", Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-size: .8rem;
            color: $light-grey;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 6px;
        }
}
}







@media (max-width: 739px) {
    .rodape {
        flex-direction: column;
    }
    
    .rodape-container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px;
    }
    
    .rodape-texto {
        position: relative;

    }
    
    .coluna-esq {
    }
    
    .texto-gg {
        flex-grow: 1;
    }
    
    .texto-gg-ultima {
        line-height: 3rem;
        letter-spacing: -3px;
        font-size: 4rem;
        color: $grey;
        text-align: right;
        margin-bottom: 20px;
    }
    
    .linha-rodape {
        width: 32px;
        float: right;
        margin: 20px 0px 20px 0px;
    }
    
    .texto-menor {
        font-size: .85rem;
        line-height: 1rem;
        text-align: right;
    }
    
    .icones-redes {
        margin-top: 10px;
        display: flex;
        width: 50px;
        justify-content: flex-end;
        text-align: right;
        float: right;
        position: relative;
        margin-bottom: 30px;
    
        i, a {
            font-size: 1.1rem;
            margin-left: 10px;
        }
    }
    
    .rodape-form {
        margin: 0;
        width: 100%;
    }
    
    .campo-nome input{
        width: 100%;
        height: 30px;
        font-size: 20px;    
        font-size: 1rem;
        padding: 5px;
        border: 0px;
        margin-bottom: 10px;
    
        font-size: .8rem;
        color: $grey;
        text-align: left;
        text-transform: uppercase;
    }
    
    .campo-email input{
        width: 100%;
        height: 30px;
        font-size: 20px;  
        font-size: 1rem;
        padding: 5px;
        border: 0px;
        margin-bottom: 10px;
    

        font-size: .8rem;
        color: $grey;
        text-align: left;
        text-transform: uppercase;
    }
    
    .campo-mensagem {
        position: relative;
    }
    
    .campo-mensagem textarea {
        width: 100%;
        height: 300px;
        font-size: 20px;  
        font-size: 1rem;
        padding: 5px;
        border: 0px;
        margin-bottom: 10px;
        
        font-size: .8rem;
        text-align: left;
        align-self: flex-start;
        resize: none;
    }
    
    .campo-mensagem textarea::placeholder {
        font-size: .8rem;
        text-align: left;
        text-transform: uppercase;
    }
    
    
    .button input{
        opacity: 80%;
        padding: 5px 15px;
        font-size: .8rem;
        width: max-content;
        height: 30px;
        cursor: pointer;
        border: 0px;
    }
    
    .button {
        text-align: right;
    }
    
    .rodape-direitos-reserv {
        flex-direction: column;
        // margin: 20px 0 25px 0;
        width: 100%;
        height: max-content;
    
        p {
            font-size: .6rem;
            width: 80vw;
            line-height: 1rem;
            letter-spacing: 6px;
            margin: 0 auto;
        }
    }
}