.bg-skills {
    background-image: url(/img/banners/banner2.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    height: max-content;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    background-color: #fff;
    opacity: 85%;
    padding: 50px;
}

.soft {
    width: 200px;
    flex-grow: 2;
    // margin-right: 30px;
    margin-left: 70px;
    p {
        width: 300px;;
    }
}


.hard {
    width: 300px;
    z-index: 5;

    i {
        font-size: 1rem;
        color: $pink;
    }

    h2 {
        margin-bottom: 40px;
        color: $grey;

        span {
            font-weight: 700;
        }
    }

}

.hard2 {
    width: 250px;
    z-index: 5;

    i {
        font-size: 1rem;
        color: $pink;
    }
}


h2 {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    color: $grey;
    margin-bottom: 20px;
    // z-index: 5;
}

p {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
    margin-bottom: 6px;
    // z-index: 5;

}

.inline {
    margin-top: -100px;
    margin-bottom: 25px;
    transform: translate(180px);

    img {
        width: 60px;
    }
}

@media screen and (max-width: 1400px) {
    .bg-skills {
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content {
        height: max-content;
        width: 80%;
        // margin: 50px;
        padding: 0;
        justify-content: flex-start;
    }
    
    .soft {
        width: 300px;
        height: max-content;
        padding: 40px;
        margin: 0 auto;

        h2 {
            margin-bottom: 10px;
        }

        p {
            width: 100%;
            margin: 0;
        }
    }
    
    
    .hard {
        width: 300px;
        height: max-content;
        padding: 0px 30px 0px 30px;
        margin-bottom: 0px;
    
        i {
            font-size: .8rem;
        }
    
        h2 {
            // width: 70%;
            // margin-left: 20px;
            margin-bottom: 10px;
    
            span {
                font-weight: 700;
            }
        }
    
    }
    
    .hard2 {
        width: 90%;
        margin-bottom: 40px;
        padding: 0px 30px 0px 30px;
        i {
            font-size: .8rem;
        }
    }
    
    
    h2 {
        font-weight: 300;
        font-size: 2.2rem;
        margin-bottom: 40px;
    }
    
    p {
        // font-size: 1rem;
        // line-height: 1.5rem;
        // color: #000;
        // margin-bottom: 6px;
        width: 100%;
        margin: 0;
    
    }
    
    .inline {
        display: none; 
    }
}